@import url("../../../node_modules/github-markdown-css/github-markdown.css");
@import url("../../../node_modules/highlight.js/styles/github.css");
@import url("../../../node_modules/katex/dist/katex.min.css");
@import url("../../../node_modules/markdown-it-texmath/css/texmath.css");

html, body {
    height: 100%;
}

/*
 * github-markdown-css
 * https://github.com/sindresorhus/github-markdown-css#usage
 */
.markdown-body {
    box-sizing: border-box;
    min-width: 200px;
    max-width: 980px;
    margin: 0 auto;
    padding: 45px;
}

@media (max-width: 767px) {
    .markdown-body {
        padding: 15px;
    }
}

/* codepen样式 */
.cp_embed_wrapper {
    margin-bottom: 16px;
}

svg[id^="markmap"] {
    border: 1px solid #ccc;
}