body {
    margin: 0;
    padding: 0;
}

.arrow {
    fill: rgb(115, 115, 115);
}

.node {
    fill: rgb(198, 229, 255);
    stroke: rgb(91, 143, 249);
}

.node-label {
    font-size: 14px;
}

.edge {
    stroke: rgb(115, 115, 115);
}

.edge-label {
    font-size: 14px;
}

.node-group.selected .node {
    stroke-width: 3px;
}

.hasSelected .node-group,
.hasSelected .edge,
.hasSelected .edge-label {
    opacity: 0.2;
}

.node-group.selected,
.edge.selected,
.edge-label.selected,
.node-group.activated,
.edge.activated,
.edge-label.activated {
    opacity: 1;
}